/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/


body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  
  #affirmation-container {
    margin: 20px;
  }
  
  #affirmation-image {
    width: 300px;
    height: 300px;
  }
  
  #change-affirmation {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #affirmation-text {
    font-size: 20px;
    margin: 10px;
  }
  
  #affirmation-heroA1 {
    display: none;
  }

  #affirmation-heroB1 {
    display: none;
  }